// config
@use "../config/colors";

@mixin base {
    @include colors.base;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: all 0.1s;
    }

    body {
        font: 1.5em/1.6 "Poiret One", cursive;
        color: var(--color-base);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Calistoga", cursive;
        line-height: 1.25;
    }

    a:not(:hover):not(:focus) {
        text-decoration: none;
    }

    a {
        color: currentColor;
    }
}
