$select: ".section" !default;

@mixin base {
    #{$select} {
        &__in {
            padding: 2em 1em;
        }

        &__in,
        &__contain {
            max-width: 45ch;
            margin: auto;
        }

        &__contain {
        }

        @content;
    }
}
