@mixin base {
    :root {
        --color-dark-primary: #8f6b5d;
        --color-midtone-primary: #c2bbab;
        --color-light-primary: #f1e7cc;

        --color-midtone-secondary: #899281;
        --color-midtone-tertiary: #c88769;
    }
}

@mixin color-map($background-color, $text-color) {
    background: $background-color;
    color: $text-color;

    ::selection {
        background: $text-color;
        color: $background-color;
    }
}
